{% extends "partials/base.html" %}
{% load static %}
{% block content %}
{% if docteurs.is_authenticated %}
  {% include "partials/dashboard.html" %}

   
  <div class="pb-4 sm:pl-96">
    <div class="grid grid-cols-3 h-16 rounded bg-white dark:bg-white mb-16">

        <div class="col-span-2">
           <h2 class="text-cyan-500 font-bold">Bienvenue! Docteur {{docteurs.prenom}} </h2>
        
           <p class="text-sm text-gray-900 dark:text-gray-900">
              Nous sommes heureux de vous retrouver sur notre plateforme de gestion des rendez-vous. 
              Nous vous souhaitons une excellente gestion de votre emploi du temps !
           </p>
        </div>
        
        <div class="flex-1 ">
          <div class="relative float-right">
              <img class="w-12 h-12 rounded-full" src="" alt="">
              <span class="top-0 right-12 absolute  w-3.5 h-3.5  dark:border-gray-800 rounded-full pr-8">
                 <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 20">
                    <path d="M12.133 10.632v-1.8A5.406 5.406 0 0 0 7.979 3.57.946.946 0 0 0 8 3.464V1.1a1 1 0 0 0-2 0v2.364a.946.946 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C1.867 13.018 0 13.614 0 14.807 0 15.4 0 16 .538 16h12.924C14 16 14 15.4 14 14.807c0-1.193-1.867-1.789-1.867-4.175ZM3.823 17a3.453 3.453 0 0 0 6.354 0H3.823Z"></path>
                </svg>
                
              </span>
              <span class="mr-4 bottom-10 right-8 absolute  w-5 h-5 bg-red-600 border-2 border-red-600 dark:border-gray-800 rounded-full text-white text-xs">12</span>
           </div>

        </div>
      </div>
      <div class="flex rounded bg-white h-28 dark:bg-white">
        <p class="text-4xl text-gray-950 dark:text-gray-950 font-serif">
           RENDEZ-VOUS
        </p>
      </div>
      
      <div class="grid grid-cols-2 gap-4 pr-5">
         <div class="flex rounded bg-blue-500 h-32 dark:bg-blue-500 pt-8">
           <div class="items-center">
           
            <img src="{% static 'images/logo.png' %}" class="absolute h-10 w-10 rounded-full ml-[238px] " alt="Flowbite Logo">
           <div class="bg-white w-10 h-10 rounded-sm shadow items-center ml-52 mr-32">
              
                 <p class="text-lg text-center text-gray-950 dark:text-gray-950 pt-2 font-bold">
                 98
                 </p>
              
           </div>
           
           
           <p class="text-2xl text-center text-white dark:text-white font-bold ml-24 m-3">
                 Liste des Rendez-vous   
              </p> 
           </div>
           
           {% comment %} <p class="text-lg text-center text-white dark:text-white font-bold">
              Liste des Rendez-vous
           </p> {% endcomment %}
          
         </div>
      
         <div class="flex rounded bg-blue-500 h-32 dark:bg-blue-500 pt-8">
            <div class="items-center">
            
             <img src="{% static 'images/logo.png' %}" class="absolute h-10 w-10 rounded-full ml-[238px] " alt="Flowbite Logo">
            <div class="bg-white w-10 h-10 rounded-sm shadow items-center ml-52 mr-32">
               
                  <p class="text-lg text-center text-gray-950 dark:text-gray-950 pt-2 font-bold">
                  98
                  </p>
               
            </div>
            
            
            <p class="text-2xl text-center text-white dark:text-white font-bold ml-24 m-3">
                  Liste des Rendez-vous   
               </p> 
            </div>
            
            {% comment %} <p class="text-lg text-center text-white dark:text-white font-bold">
               Liste des Rendez-vous
            </p> {% endcomment %}
           
          </div>
          <div class="flex rounded bg-blue-500 h-32 dark:bg-blue-500 pt-8">
            <div class="items-center">
            
             <img src="{% static 'images/logo.png' %}" class="absolute h-10 w-10 rounded-full ml-[238px] " alt="Flowbite Logo">
            <div class="bg-white w-10 h-10 rounded-sm shadow items-center ml-52 mr-32">
               
                  <p class="text-lg text-center text-gray-950 dark:text-gray-950 pt-2 font-bold">
                  98
                  </p>
               
            </div>
            
            
            <p class="text-2xl text-center text-white dark:text-white font-bold ml-24 m-3">
                  Liste des Rendez-vous   
               </p> 
            </div>
            
            {% comment %} <p class="text-lg text-center text-white dark:text-white font-bold">
               Liste des Rendez-vous
            </p> {% endcomment %}
           
          </div>
          <div class="flex rounded bg-blue-500 h-32 dark:bg-blue-500 pt-8">
            <div class="items-center">
            
             <img src="{% static 'images/logo.png' %}" class="absolute h-10 w-10 rounded-full ml-[238px] " alt="Flowbite Logo">
            <div class="bg-white w-10 h-10 rounded-sm shadow items-center ml-52 mr-32">
               
                  <p class="text-lg text-center text-gray-950 dark:text-gray-950 pt-2 font-bold">
                  98
                  </p>
               
            </div>
            
            
            <p class="text-2xl text-center text-white dark:text-white font-bold ml-24 m-3">
                  Liste des Rendez-vous   
               </p> 
            </div>
            
            {% comment %} <p class="text-lg text-center text-white dark:text-white font-bold">
               Liste des Rendez-vous
            </p> {% endcomment %}
           
          </div>
      </div>
     
   
</div>

{% else %}
    <p>Sorry !!!!</p>
{% endif %}

{% endblock content %}