{% extends "partials/base.html" %}

{% block content %}
  {% include "partials/nav.html" %}
  <form action="" method="POST"
    class="max-w-md mx-auto  m-8 pb-10 pt-20 pr-10 pl-10">
    <h1 class="mb-5 text-gray-900 text-center" >Se connecter</h1>
    
    
    <div class="mb-5">
      <input type="text" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-900 focus:border-emerald-900 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-emerald-900 dark:focus:border-emerald-900" placeholder="Adresse email" required />
    </div>
    
    <div class="mb-5">
      <input type="text" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-emerald-900 focus:border-emerald-900 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-emerald-900 dark:focus:border-emerald-900" placeholder="Mot de passe" required />
    </div>
  
    <button type="submit" class="text-white  bg-cyan-500 hover:bg-cyan-700 focus:ring-4 focus:outline-none focus:ring-cyan-500 font-medium rounded-lg text-sm w-full sm:w-full px-5 py-2.5 text-center dark:bg-cyan-500 dark:hover:bg-cyan-500 dark:focus:ring-cyan-700">Se connecter</button>
    <br>
    <br>
  
    <button type="button" class="pl-20 pr-10 text-white bg-cyan-950 hover:bg-cyan-500/90 focus:ring-4 focus:outline-none focus:ring-cyan-500/50 font-medium rounded-lg text-sm w-full sm:w-full px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-cyan-700/55 me-2 mb-2">
        <svg class="w-4 h-4 me-2 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
        <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
        </svg>
        Sign in with Google
        </button>
  </form>
  <p class=" text-center"> Mot de passe oublié ? <a href="#" class="text-cyan-500">S'inscrire</a></p>

{% endblock content %}